body{
    background: linear-gradient(to left, #caf0f8, white);
}
.principal{
    margin: auto;
    width: 80%; 
    margin-top: 300px;
    
    
}
.input{
    width: 70%;
    margin: 0.5em;
    background-color: #edf6f9;
    border: 5px solid #3f37c9;
    color:#6a040f;
}
.h2{
    text-align: center;
    color: #d90429;
}
.title{
    
    background-color: white;
    height: 2em;
}
label{
    color:red;
}
.botao{
    text-align: center;
    width: 10%;
    margin-top: 5em;
    margin-left: 60em;
    background-color: white;
   
    height: 3em;
}